<script>
    
    function googleTranslateElementInit() {
        var translateElement = new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,ar,bn,de,es,fr,hi,it,ja,ko,nl,pl,pt,ru,th,tr,vi,zh-CN,zh-TW',
            layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL,
            autoDisplay: false,
            gaTrack: true,
            noAutoflip: true, // Add this parameter to disable the top pop-up when a user selects a language
            gaId: 'UA-XXXXXXXX-X'
        }, 'google_translate_element');

        var selectedLanguageInput = document.getElementById('selectedLanguageInput');

        google.translate.TranslateElement.prototype.selectLanguage = function (lang) {
            google.translate.TranslateElement.prototype.selectLanguage.apply(this, arguments);
            selectedLanguageInput.value = lang;
        };

        var translateButton = document.createElement('button');
        translateButton.className = 'goog-te-button';
        translateButton.innerHTML = 'Translate';
        translateButton.onclick = function () {
            translateElement.showWidget();
        };
        document.getElementById('google_translate_element').appendChild(translateButton);
    }


</script>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome to Epiphany IT,a minority veteran owned small business</title>
        <meta name='description'         content="Epiphany IT is a top-tier expert and Microsoft solutions provider of solutions designed to save operational expenses and create efficient business operations">
        <meta property='og:description'  content="Epiphany IT is a top-tier expert and Microsoft solutions provider of solutions designed to save operational expenses and create efficient business operations">
        <meta name='twitter:description' content="Epiphany IT is a top-tier expert and Microsoft solutions provider of solutions designed to save operational expenses and create efficient business operations">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="css/vendors/aos.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>

    <script defer data-domain='preview.cruip.com,rollup.cruip.com' src='../../plausible.cruip.com/js/script.js'></script></head>
    
<body>
    <%- include('./partials/navigation')%>
        <%- body %>
    
    <%- include('./partials/footter')%>

</body>



</html>
<link rel="stylesheet" href="stylesheet/home.css">



<script src="/javascript/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script> 


<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://assets.website-files.com/5dd4413d36613959e9a5f5ea/js/webflow.300dc2d58.js" type="text/javascript"></script>
