<!DOCTYPE html>
<html lang="en">
  <script src="https://cdn.tailwindcss.com"></script>

<!-- Mirrored from base-tailwind.preview.uideck.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Feb 2024 19:53:58 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Welcome to Epiphany IT,a minority veteran owned small business</title>
<link rel="icon" href="favicon.ico"><link href="style.css" rel="stylesheet"></head>
<body x-data="{ page: 'home', 'darkMode': true, 'stickyMenu': false, 'navigationOpen': false, 'scrollTop': false }" x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))" :class="{'b eh': darkMode === true}">

<header class="g s r vd ya cj" :class="{ 'hh sm _k dj bl ll' : stickyMenu }" @scroll.window="stickyMenu = (window.pageYOffset > 20) ? true : false">
<div class="bb ze ki xn 2xl:ud-px-0 oo wf yf i">
<div class="vd to/4 tc wf yf">
<a href="/">
<img class="om" src="images/logo-light.png" alt="Logo Light" />
<img class="xc nm" src="images/logo-light.png" alt="Logo Dark" />
</a>
<style>
  .active {
    --tw-text-opacity: 1;
    color: rgb(78 107 255 / var(--tw-text-opacity));
  }
</style>
<button class="po rc" @click="navigationOpen = !navigationOpen">
<span class="rc i pf re pd">
<span class="du-block h q vd yc">
<span class="rc i r s eh um tg te rd eb ml jl dl" :class="{ 'ue el': !navigationOpen }"></span>
<span class="rc i r s eh um tg te rd eb ml jl fl" :class="{ 'ue qr': !navigationOpen }"></span>
<span class="rc i r s eh um tg te rd eb ml jl gl" :class="{ 'ue hl': !navigationOpen }"></span>
</span>
<span class="du-block h q vd yc lf">
<span class="rc eh um tg ml jl el h na r ve yc" :class="{ 'sd dl': !navigationOpen }"></span>
<span class="rc eh um tg ml jl qr h s pa vd rd" :class="{ 'sd rr': !navigationOpen }"></span>
</span>
</span>
</button>

</div>
<div class="vd wo/4 sd qo f ho oo wf yf" :class="{ 'd hh rm sr td ud qg ug jc yh': navigationOpen }">
<nav>
  <ul class="tc _o sf yo cg ep">
    <% if (page === 'home') { %>
      <li><a href="/home" class="nav-link homelink xl ">Home</a></li>
    <% } else { %>
      <li><a href="/home" class="nav-link xl">Home</a></li>
    <% } %>
  
    <li><a href="/about#features" class=" nav-link xl <% if (page === 'about') { %>mk<% } %>">About</a></li>
    <li><a href="/career#careers" class=" nav-link xl <% if (page === 'careers') { %>mk<% } %>">Careers</a></li>
    <li><a href="/service#services" class=" nav-link xl <% if (page === 'services') { %>mk<% } %>">Services</a></li>
    <li><a href="/contact#support" class=" nav-link xl <% if (page === 'contact') { %>mk<% } %>">Contact</a></li>
  </ul>
</nav>
<div class="tc wf ig pb no">
<div class="pc h io pa ra" :class="navigationOpen ? '!-ud-visible' : 'd'">
<label class="rc ab i">
<input type="checkbox" :value="darkMode" @change="darkMode = !darkMode" class="pf vd yc uk h r za ab" />

<svg :class="{ 'wn' : page === 'home', 'xh' : page === 'home' && stickyMenu }" class="th om" width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.0908 18.6363C10.3549 18.6363 8.69 17.9467 7.46249 16.7192C6.23497 15.4916 5.54537 13.8268 5.54537 12.0908C5.54537 10.3549 6.23497 8.69 7.46249 7.46249C8.69 6.23497 10.3549 5.54537 12.0908 5.54537C13.8268 5.54537 15.4916 6.23497 16.7192 7.46249C17.9467 8.69 18.6363 10.3549 18.6363 12.0908C18.6363 13.8268 17.9467 15.4916 16.7192 16.7192C15.4916 17.9467 13.8268 18.6363 12.0908 18.6363ZM12.0908 16.4545C13.2481 16.4545 14.358 15.9947 15.1764 15.1764C15.9947 14.358 16.4545 13.2481 16.4545 12.0908C16.4545 10.9335 15.9947 9.8236 15.1764 9.00526C14.358 8.18692 13.2481 7.72718 12.0908 7.72718C10.9335 7.72718 9.8236 8.18692 9.00526 9.00526C8.18692 9.8236 7.72718 10.9335 7.72718 12.0908C7.72718 13.2481 8.18692 14.358 9.00526 15.1764C9.8236 15.9947 10.9335 16.4545 12.0908 16.4545ZM10.9999 0.0908203H13.1817V3.36355H10.9999V0.0908203ZM10.9999 20.8181H13.1817V24.0908H10.9999V20.8181ZM2.83446 4.377L4.377 2.83446L6.69082 5.14828L5.14828 6.69082L2.83446 4.37809V4.377ZM17.4908 19.0334L19.0334 17.4908L21.3472 19.8046L19.8046 21.3472L17.4908 19.0334ZM19.8046 2.83337L21.3472 4.377L19.0334 6.69082L17.4908 5.14828L19.8046 2.83446V2.83337ZM5.14828 17.4908L6.69082 19.0334L4.377 21.3472L2.83446 19.8046L5.14828 17.4908ZM24.0908 10.9999V13.1817H20.8181V10.9999H24.0908ZM3.36355 10.9999V13.1817H0.0908203V10.9999H3.36355Z" fill />
</svg>

<img class="xc nm" src="images/icon-moon.svg" alt="Moon" />
</label>
</div>

</div>
</div>
</div>
</header>

<main>

<section id="home"  class=" section gj do ir hj sp jr i pg">

<div class="xc fn zd/2 2xl:ud-w-187.5 bd 2xl:ud-h-171.5 h q r">
<img src="images/shape-01.svg" alt="shape" class="xc 2xl:ud-block h t -ud-left-[10%] ua" />
<img src="images/shape-02.svg" alt="shape" class="xc 2xl:ud-block h u p va" />
<img src="images/shape-03.svg" alt="shape" class="xc 2xl:ud-block h v w va" />
<img src="images/shape-04.svg" alt="shape" class="h q r" />
<img src="images/hero.png" alt="Woman" class="h q r ua" />
</div>

<div class="bb ze ki xn 2xl:ud-px-0">
<div class="tc _o">
<div class="animate_left jn/2">
<h1 class="fk vj zp or kk wm wb"> EPIPHANY IT  GOVERNMENT SOLUTIONS</h1>
<p class="fq ">
  “Epiphany IT is a top-tier expert and Microsoft solutions provider of solutions designed to save operational expenses and create efficient business operations<div class="tc tf yo zf mb">
<a href="/career#careers" class="ek jk lk gh gi hi rg ml il vc _d _l">Get Started Now</a
                >
<span class="tc sf">
<a href="#" class="inline-block ek xj kk wm">
  Email - contactus@epiphanyit.com </a>
<span class="inline-block">For any question or concern</span>
</span>
</div>
</div>
</div>
</div>
</section>


<section class="section hidden" id="features">
<div class="bb ze ki yn 2xl:ud-px-12.5">
<div class="tc uf zo xf ap zf bp mq">

<div class="animate_top kn to/3 tc cg oq">
<div class="tc wf xf cf ae cd rg mh">
<img src="images/icon-01.svg" alt="Icon" />
</div>
<div>
<h4 class="ek yj go kk wm xb">24/7 Support</h4>
<p>contactus@epiphanyit.com</p>
</div>
</div>

<div class="animate_top kn to/3 tc cg oq">
<div class="tc wf xf cf ae cd rg nh">
<img src="images/icon-02.svg" alt="Icon" />
</div>
<div>
<h4 class="ek yj go kk wm xb">Take Ownership</h4>
<p>Contact us today.</p>
</div>
</div>

<div class="animate_top kn to/3 tc cg oq">
<div class="tc wf xf cf ae cd rg oh">
<img src="images/icon-03.svg" alt="Icon" />
</div>
<div>
<h4 class="ek yj go kk wm xb">Team Work</h4>
<p>We design, deploy, and manage Microsoft Exchange services for your organizations.</p>
</div>
</div>
</div>
</div>
</section>


<section id="home" class="ji section gp uq 2xl:ud-py-35 pg">
<div class="bb ze ki xn wq">
<div class="tc wf gg qq">

<div class="animate_left xc gn gg jn/2 i">
<div>
<img src="images/shape-05.svg" alt="Shape" class="h -ud-left-5 x" />
<img src="images/about-01.png" alt="About" class="ib" />
<img src="images/about-02.png" alt="About" />
</div>
<div>
<img src="images/shape-06.svg" alt="Shape" />
<img  src="images/about-03.png" alt="About" class="ob rounded-xl gb" />
<img src="images/shape-07.svg" alt="Shape" class="bb" />
</div>
</div>

<div class="animate_right jn/2">
<h4 class="ek yj mk gb">Why Choose Us</h4>
<h2 class="fk vj zp pr kk wm qb">Simplify organization communication and operations.</h2>
<p class="uo">The Epiphany Smart Solution provides a comprehensive approach to effectively design, manage, and control  your Microsoft Exchange network. Epiphany enhances the customer experiences and productivity</p>
<br>
<span class="text-xl">This Epiphany solution also provides:</span>
<ul class="max-w-md space-y-1 text-gray-500 list-inside ">
  <li class="flex items-center">
      <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
       </svg>
       Network management
      </li>
  <li class="flex items-center">
      <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
       </svg>
       Affordability  </li>
       <li class="flex items-center">
        <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
         </svg>
         Security
  </li>
  <li class="flex items-center">
    <svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
     </svg>
     Anytime, Anywhere Access

</li>

</ul>
</div>
</div>
</div>
</section>
<section id="about" class="about section yn">


<div class="mb-4 border-b border-gray-200 ">
  <ul class="flex flex-wrap  -mb-px text-sm font-medium text-center justify-between" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
      <li class="me-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Introduction</button>
      </li>
      <li class="me-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Our work</button>
      </li>
      <li class="me-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">Our Mission</button>
      </li>
      <li role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Vision</button>
      </li>
  </ul>
</div>
<div id="default-tab-content">
  <div class="hidden p-4 rounded-lg bg-gray-50 " id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <p class="text-sm text-gray-500 "><div class="max-w-1xl mx-auto items-center text-center p-6 rounded-lg">
        
        <h2 class="text-2xl text-center font-bold mb-4">Discover Excellence with Epiphany IT, LLC</h2>
        <p class="mb-6">Epiphany IT, LLC is a <b>minority veteran-owned small business</b> that excels in providing top-tier expertise and comprehensive consulting services focused on <b>Microsoft Exchange adoption and deployment</b>. Our unique strengths include:</p>
        
        <ul class="list-disc pl-5 mb-4">
            <li><b>Extensive Experience:</b> Proven track record with esteemed clients such as the Department of Defense.</li>
            <li><b>Strong Partnerships:</b> Collaborations with industry leaders like Microsoft to offer cutting-edge solutions.</li>
            <li><b>Expert Focus:</b> Our subject matter experts prioritize your organization’s goals, infrastructure, and applications.</li>
            <li><b>Dynamic Solutions:</b> We provide dynamic and integrated solutions tailored to your specific desires.</li>
            <li><b>Cost-Effective Delivery:</b> Our approach is designed to deliver cost-effective solutions that exceed expectations.</li>
        </ul>
    
        <p class="mb-4"><b>Customer Satisfaction:</b> At the heart of our mission is the commitment to ensure customer satisfaction through quality services.</p>
    
        <p class="mb-4"><b>Epiphany SMEs:</b> Our Subject Matter Experts (SMEs) work closely with clients to deliver professional SMART solutions aligned with your business objectives.</p>
    
        <div class="bg-blue-100 p-4 rounded-lg mt-6">
            <p class="font-semibold">Key Commitments:</p>
            <ul class="list-inside list-disc">
                <li>Unwavering focus on <b>Customer Satisfaction</b>.</li>
                <li>Delivery of <b>quality services</b>.</li>
                <li>Pursuit of <b>cost-effective solutions</b>.</li>
            </ul>
        </div>
    </div>
    </p>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50 " id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
      <p class="text-sm text-gray-500 ">
        <p>	We design, deploy, and manage Microsoft Exchange services for your organizations. Our knowledgeable experts ensures that you get your Return On Investment and that it fits your business needs.</p>
        <p>Our Microsoft Exchange SME’s acts as an advisor for day to day operations and maintenance regarding your Microsoft Exchange environment and provides training for system owners and on site Exchange Administrators. </p>
        <p>Our Microsoft Exchange Consultant’s perform network design, discovery and environmental assessment in order to offer customized solution that suits your business needs and provide solutions that minimize Total Cost of Ownership
        </p>
      </p>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50 " id="settings" role="tabpanel" aria-labelledby="settings-tab">
      <p class="text-sm text-gray-500 ">Epiphany’s mission is to provide, economical, highly reliable, sustainable, and measureable Microsoft Exchange solution to government and industry. Furthermore, Epiphany wants to offer an ideal working environment for our customers and team in which enthusiasm, creativity and results have a central place.</p>
  </div>
  <div class="hidden p-4 rounded-lg bg-gray-50 " id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
      <p class="text-sm text-gray-500 ">Epiphany aims to become a market leader in providing Microsoft Exchange solutions and wants to be the best choice for customers that inquire services at the highest level of knowledge and quality.</p>
  </div>
</div>

</section>
<br>
<section class="i pg ji gp uq">

<span class="rc h s r vd fd/5 fh rm"></span>
<img src="images/shape-08.svg" alt="Shape Bg" class="h q r" />
<img src="images/shape-09.svg" alt="Shape" class="of h y z/2" />
<img src="images/shape-10.svg" alt="Shape" class="h _ aa" />
<img src="images/shape-11.svg" alt="Shape" class="of h m ba" />

<div x-data="{ sectionTitle: `We help accelerate your business value by providing the best tools and expertise`, sectionTitleText: `The Epiphany SMART solution is dependable because it delivers a comprehensive, predictable, and successful deployment. The modular approach of our SMART solution is designed for customer’s specific needs, regardless of their organization's size, technical infrastructure, or business objectives.`}">
<div class="animate_top bb ze rj ki xn vq">
<h2 x-text="sectionTitle" class="fk vj pr kk wm on/5 gq/2 bb _b">
</h2>
<p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
</div>
</div>

<div class="bb ze i va ki xn xq jb jo">
<div class="wc qf pn xo gg cp hidden">

<div class="animate_top rj">
<div class="c i pg z-1">
<img class="vd" src="images/team-01.png" alt="Team" />
<div class="ef im nl il">
<span class="h -ud-left-5 -ud-bottom-21 rc de gd gh if wa"></span>
<span class="h s p rc vd hd mh va"></span>
<div class="h s p vd ij jj xa">
<ul class="tc xf wf gg">
<li>
<a href="#">
<svg class="uh vl ml il" width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.66634 10.25H8.74968L9.58301 6.91669H6.66634V5.25002C6.66634 4.39169 6.66634 3.58335 8.33301 3.58335H9.58301V0.783354C9.31134 0.74752 8.28551 0.666687 7.20218 0.666687C4.93968 0.666687 3.33301 2.04752 3.33301 4.58335V6.91669H0.833008V10.25H3.33301V17.3334H6.66634V10.25Z" fill />
</svg>
</a>
</li>
<li>
<a href="#">
<svg class="uh vl ml il" width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.4683 1.71333C16.8321 1.99475 16.1574 2.17956 15.4666 2.26167C16.1947 1.82619 16.7397 1.14085 16.9999 0.333333C16.3166 0.74 15.5674 1.025 14.7866 1.17917C14.2621 0.617982 13.5669 0.245803 12.809 0.120487C12.0512 -0.00482822 11.2732 0.123742 10.596 0.486211C9.91875 0.848679 9.38024 1.42474 9.06418 2.12483C8.74812 2.82492 8.67221 3.60982 8.84825 4.3575C7.46251 4.28805 6.10686 3.92794 4.86933 3.30055C3.63179 2.67317 2.54003 1.79254 1.66492 0.715833C1.35516 1.24788 1.19238 1.85269 1.19326 2.46833C1.19326 3.67667 1.80826 4.74417 2.74326 5.36917C2.18993 5.35175 1.64878 5.20232 1.16492 4.93333V4.97667C1.16509 5.78142 1.44356 6.56135 1.95313 7.18422C2.46269 7.80709 3.17199 8.23456 3.96075 8.39417C3.4471 8.53337 2.90851 8.55388 2.38576 8.45417C2.60814 9.14686 3.04159 9.75267 3.62541 10.1868C4.20924 10.6209 4.9142 10.8615 5.64159 10.875C4.91866 11.4428 4.0909 11.8625 3.20566 12.1101C2.32041 12.3578 1.39503 12.4285 0.482422 12.3183C2.0755 13.3429 3.93 13.8868 5.82409 13.885C12.2349 13.885 15.7408 8.57417 15.7408 3.96833C15.7408 3.81833 15.7366 3.66667 15.7299 3.51833C16.4123 3.02514 17.0013 2.41418 17.4691 1.71417L17.4683 1.71333Z" fill />
</svg>
</a>
</li>
<li>
<a href="#">
<svg class="uh vl ml il" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.78353 2.16665C3.78331 2.60867 3.6075 3.03251 3.29478 3.34491C2.98207 3.65732 2.55806 3.8327 2.11603 3.83248C1.674 3.83226 1.25017 3.65645 0.937761 3.34373C0.625357 3.03102 0.449975 2.60701 0.450196 2.16498C0.450417 1.72295 0.626223 1.29912 0.93894 0.986712C1.25166 0.674307 1.67567 0.498925 2.1177 0.499146C2.55972 0.499367 2.98356 0.675173 3.29596 0.98789C3.60837 1.30061 3.78375 1.72462 3.78353 2.16665V2.16665ZM3.83353 5.06665H0.500195V15.5H3.83353V5.06665ZM9.1002 5.06665H5.78353V15.5H9.06686V10.025C9.06686 6.97498 13.0419 6.69165 13.0419 10.025V15.5H16.3335V8.89165C16.3335 3.74998 10.4502 3.94165 9.06686 6.46665L9.1002 5.06665V5.06665Z" fill />
</svg>
</a>
</li>
</ul>
</div>
</div>
</div>
<h4 class="yj go kk wm ob zb">Olivia Andrium</h4>
<p>Product Manager</p>
</div>

<div class="animate_top rj">
<div class="c i pg z-1">
<img class="vd" src="images/team-02.png" alt="Team" />
<div class="ef im nl il">
<span class="h -ud-left-5 -ud-bottom-21 rc de gd gh if wa"></span>
<span class="h s p rc vd hd mh va"></span>
<div class="h s p vd ij jj xa">
<ul class="tc xf wf gg">
<li>
<a href="#">
<svg class="uh vl ml il" width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.66634 10.25H8.74968L9.58301 6.91669H6.66634V5.25002C6.66634 4.39169 6.66634 3.58335 8.33301 3.58335H9.58301V0.783354C9.31134 0.74752 8.28551 0.666687 7.20218 0.666687C4.93968 0.666687 3.33301 2.04752 3.33301 4.58335V6.91669H0.833008V10.25H3.33301V17.3334H6.66634V10.25Z" fill />
</svg>
</a>
</li>
<li>
<a href="#">
<svg class="uh vl ml il" width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.4683 1.71333C16.8321 1.99475 16.1574 2.17956 15.4666 2.26167C16.1947 1.82619 16.7397 1.14085 16.9999 0.333333C16.3166 0.74 15.5674 1.025 14.7866 1.17917C14.2621 0.617982 13.5669 0.245803 12.809 0.120487C12.0512 -0.00482822 11.2732 0.123742 10.596 0.486211C9.91875 0.848679 9.38024 1.42474 9.06418 2.12483C8.74812 2.82492 8.67221 3.60982 8.84825 4.3575C7.46251 4.28805 6.10686 3.92794 4.86933 3.30055C3.63179 2.67317 2.54003 1.79254 1.66492 0.715833C1.35516 1.24788 1.19238 1.85269 1.19326 2.46833C1.19326 3.67667 1.80826 4.74417 2.74326 5.36917C2.18993 5.35175 1.64878 5.20232 1.16492 4.93333V4.97667C1.16509 5.78142 1.44356 6.56135 1.95313 7.18422C2.46269 7.80709 3.17199 8.23456 3.96075 8.39417C3.4471 8.53337 2.90851 8.55388 2.38576 8.45417C2.60814 9.14686 3.04159 9.75267 3.62541 10.1868C4.20924 10.6209 4.9142 10.8615 5.64159 10.875C4.91866 11.4428 4.0909 11.8625 3.20566 12.1101C2.32041 12.3578 1.39503 12.4285 0.482422 12.3183C2.0755 13.3429 3.93 13.8868 5.82409 13.885C12.2349 13.885 15.7408 8.57417 15.7408 3.96833C15.7408 3.81833 15.7366 3.66667 15.7299 3.51833C16.4123 3.02514 17.0013 2.41418 17.4691 1.71417L17.4683 1.71333Z" fill />
</svg>
</a>
</li>
<li>
<a href="#">
<svg class="uh vl ml il" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.78353 2.16665C3.78331 2.60867 3.6075 3.03251 3.29478 3.34491C2.98207 3.65732 2.55806 3.8327 2.11603 3.83248C1.674 3.83226 1.25017 3.65645 0.937761 3.34373C0.625357 3.03102 0.449975 2.60701 0.450196 2.16498C0.450417 1.72295 0.626223 1.29912 0.93894 0.986712C1.25166 0.674307 1.67567 0.498925 2.1177 0.499146C2.55972 0.499367 2.98356 0.675173 3.29596 0.98789C3.60837 1.30061 3.78375 1.72462 3.78353 2.16665V2.16665ZM3.83353 5.06665H0.500195V15.5H3.83353V5.06665ZM9.1002 5.06665H5.78353V15.5H9.06686V10.025C9.06686 6.97498 13.0419 6.69165 13.0419 10.025V15.5H16.3335V8.89165C16.3335 3.74998 10.4502 3.94165 9.06686 6.46665L9.1002 5.06665V5.06665Z" fill />
</svg>
</a>
</li>
</ul>
</div>
</div>
</div>
<h4 class="yj go kk wm ob zb">Jemse Kemorun</h4>
<p>Product Designer</p>
</div>

<div class="animate_top rj">
<div class="c i pg z-1">
<img class="vd" src="images/team-03.png" alt="Team" />
<div class="ef im nl il">
<span class="h -ud-left-5 -ud-bottom-21 rc de gd gh if wa"></span>
<span class="h s p rc vd hd mh va"></span>
<div class="h s p vd ij jj xa">
<ul class="tc xf wf gg">
<li>
<a href="#">
<svg class="uh vl ml il" width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.66634 10.25H8.74968L9.58301 6.91669H6.66634V5.25002C6.66634 4.39169 6.66634 3.58335 8.33301 3.58335H9.58301V0.783354C9.31134 0.74752 8.28551 0.666687 7.20218 0.666687C4.93968 0.666687 3.33301 2.04752 3.33301 4.58335V6.91669H0.833008V10.25H3.33301V17.3334H6.66634V10.25Z" fill />
</svg>
</a>
</li>
<li>
<a href="#">
<svg class="uh vl ml il" width="18" height="14" viewBox="0 0 18 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M17.4683 1.71333C16.8321 1.99475 16.1574 2.17956 15.4666 2.26167C16.1947 1.82619 16.7397 1.14085 16.9999 0.333333C16.3166 0.74 15.5674 1.025 14.7866 1.17917C14.2621 0.617982 13.5669 0.245803 12.809 0.120487C12.0512 -0.00482822 11.2732 0.123742 10.596 0.486211C9.91875 0.848679 9.38024 1.42474 9.06418 2.12483C8.74812 2.82492 8.67221 3.60982 8.84825 4.3575C7.46251 4.28805 6.10686 3.92794 4.86933 3.30055C3.63179 2.67317 2.54003 1.79254 1.66492 0.715833C1.35516 1.24788 1.19238 1.85269 1.19326 2.46833C1.19326 3.67667 1.80826 4.74417 2.74326 5.36917C2.18993 5.35175 1.64878 5.20232 1.16492 4.93333V4.97667C1.16509 5.78142 1.44356 6.56135 1.95313 7.18422C2.46269 7.80709 3.17199 8.23456 3.96075 8.39417C3.4471 8.53337 2.90851 8.55388 2.38576 8.45417C2.60814 9.14686 3.04159 9.75267 3.62541 10.1868C4.20924 10.6209 4.9142 10.8615 5.64159 10.875C4.91866 11.4428 4.0909 11.8625 3.20566 12.1101C2.32041 12.3578 1.39503 12.4285 0.482422 12.3183C2.0755 13.3429 3.93 13.8868 5.82409 13.885C12.2349 13.885 15.7408 8.57417 15.7408 3.96833C15.7408 3.81833 15.7366 3.66667 15.7299 3.51833C16.4123 3.02514 17.0013 2.41418 17.4691 1.71417L17.4683 1.71333Z" fill />
</svg>
</a>
</li>
<li>
<a href="#">
<svg class="uh vl ml il" width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M3.78353 2.16665C3.78331 2.60867 3.6075 3.03251 3.29478 3.34491C2.98207 3.65732 2.55806 3.8327 2.11603 3.83248C1.674 3.83226 1.25017 3.65645 0.937761 3.34373C0.625357 3.03102 0.449975 2.60701 0.450196 2.16498C0.450417 1.72295 0.626223 1.29912 0.93894 0.986712C1.25166 0.674307 1.67567 0.498925 2.1177 0.499146C2.55972 0.499367 2.98356 0.675173 3.29596 0.98789C3.60837 1.30061 3.78375 1.72462 3.78353 2.16665V2.16665ZM3.83353 5.06665H0.500195V15.5H3.83353V5.06665ZM9.1002 5.06665H5.78353V15.5H9.06686V10.025C9.06686 6.97498 13.0419 6.69165 13.0419 10.025V15.5H16.3335V8.89165C16.3335 3.74998 10.4502 3.94165 9.06686 6.46665L9.1002 5.06665V5.06665Z" fill />
</svg>
</a>
</li>
</ul>
</div>
</div>
</div>
<h4 class="yj go kk wm ob zb">Avi Pestarica</h4>
<p>Web Designer</p>
</div>
</div>
</div>
</section>


<!-- <section id="services" class=" lj  section services yn tp kr">
<br>
<div x-data="{ sectionTitle: `We Offer The Best Quality Service `, sectionTitleText: `At Epiphany our services are customer oriented. We ensure customer requests are planned, delivered, and managed in a timely manner.`}">
<div class="animate_top bb ze rj ki xn vq">
<h2 x-text="sectionTitle" class="fk vj pr kk wm on/5 gq/2 bb _b">
</h2>
<p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
</div>
</div>

<div class="bb ze ki xn yq mb en">
<div class="wc qf pn xo ng">

<div class="animate_top sg oi pi zq ml il am cn _m">
<img src="images/flag.png" alt="Icon" />
<h4 class="ek zj kk wm nb _b">GOVERNMENT</h4>
<p>Epiphany’s top-tier expertise, Microsoft solutions and SMART solutions are designed to save money and better manage costs. Our solutions are designed to show our government customers that we can help them meet demand with solutions that reduce their IT infrastructure costs and improve the utilization of their current resources. Epiphany is highly experienced in providing government solutions.</p>
</div>

<div class="animate_top sg oi pi zq ml il am cn _m">
<img src="images/cosnult.png" alt="Icon" />
<h4 class="ek zj kk wm nb _b">IT CONSULTING</h4>
<p>Our consulting services are focused on providing solutions, maximizing your Return on Investment (ROI), and Time To Value (TTV) of Microsoft Exchange. Organizations count on Epiphany’s all-encompassing expertise in planning, deploying, migration, integration, and operating their Microsoft Exchange environment. In partnership with Microsoft Services, Epiphany has been able to manage Federal Government E-mail as a Service (EaaS) migration and Implementation.

</p>
</div>

<div class="animate_top sg oi pi zq ml il am cn _m">
<img src="images/service.png" alt="Icon" />
<h4 class="ek zj kk wm nb _b">CLITENT SERVICES</h4>
<p>At Epiphany our services are customer oriented. We ensure customer requests are planned, delivered, and managed in a timely manner. We ensure that we understanding what is requested by the customer rather than just implementing the latest technology. Therefore, full comprehension of the requirement allows us to get quality solutions to the customer’s hands quickly, and effectively.</p>
</div>

<div class="animate_top sg oi pi zq ml il am cn _m">
<img src="images/icon-07.svg" alt="Icon" />
<h4 class="ek zj kk wm nb _b">	Consultation </h4>
<p>We take the time to understand your requirements and business needs. </p>
</div>

<div class="animate_top sg oi pi zq ml il am cn _m">
<img src="images/icon-05.svg" alt="Icon" />
<h4 class="ek zj kk wm nb _b">Deployment</h4>
<p>Our deplayment is very fast and secure </p>
</div>

<div class="animate_top sg oi pi zq ml il am cn _m">
<img src="images/icon-06.svg" alt="Icon" />
<h4 class="ek zj kk wm nb _b">	Integration </h4>
<p>We can integrate multiple solutions on your demand.
</p>
</div>
<div class="animate_top sg oi pi zq ml il am cn _m">
  <img src="images/icon-06.svg" alt="Icon" />
  <h4 class="ek zj kk wm nb _b">	Migration  </h4>
  <p>We make the migration process stress free.

  </p>
  </div>
  <div class="animate_top sg oi pi zq ml il am cn _m">
    <img src="images/icon-04.svg" alt="Icon" />
    <h4 class="ek zj kk wm nb _b">Operations and Maintenance  </h4>
    <p>Our operations and maintenance framework align with Agile and ITSM standards.
    </p>
    </div>
</div>
</div>
</section> -->


<section x-data="setup()" class="i pg fh rm ji gp uq">

<img src="images/shape-06.svg" alt="Shape" class="h aa y" />
<img src="images/shape-03.svg" alt="Shape" class="h ca u" />
<img src="images/shape-07.svg" alt="Shape" class="h w da ee" />
<img src="images/shape-12.svg" alt="Shape" class="h p s" />
<img src="images/shape-13.svg" alt="Shape" class="h r q" />

<div x-data="{ sectionTitle: `Microsoft Exchange As A Service`, sectionTitleText: `Microsoft Exchange is the world's leading corporate email platform. Microsoft Exchange gets your organization a business email, calendar, and contacts delivered to your PC, phone, and browser using a simplified approach. Microsoft Exchange services as high availability, disaster recovery, higher levels of reliability, reduce complexity, and protects sensitive and confidential information.
`}">
<div class="animate_top bb ze rj ki xn vq">
<h2 x-text="sectionTitle" class="fk vj pr kk wm on/5 gq/2 bb _b">
</h2>
<p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
<button class="text-blue-600" data-modal-target="static-modal" data-modal-toggle="static-modal" >Read more</button>

</div>
</div>
<div id="static-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-100 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full" style="z-index: 999;">
  <div class="relative p-4 w-full max-w-2xl max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow ">
          <!-- Modal header -->
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t ">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                  Static modal
              </h3>
              <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-hide="static-modal">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <!-- Modal body -->
          <div class="p-4 md:p-5 space-y-4">
              <h2 class="text-2xl font-bold mb-4">Invest in Productivity, Efficiency, and Security</h2>
              <p class="mb-4">An investment in <b>Microsoft Exchange</b> is an investment in your business's productivity, efficiency, and security. Here are some of the features and benefits that Microsoft Exchange hosting can provide your business.</p>
              
              <h3 class="text-xl font-bold mb-3">Email</h3>
              <ul class="list-disc pl-5 mb-4">
                  <li><b>Anywhere-Everytime access</b> of email through Outlook, Outlook Web Access (OWA), and mobile devices (ActiveSync).</li>
                  <li>Limitless number of email addresses.</li>
                  <li>Fast, easy, and secure feature for <b>sending large files up to 1GB</b> by email.</li>
                  <li>Password protection and SSL encryption.</li>
                  <li>All available email protocols ensure safe and secure email retrieval using the method of your choice.</li>
                  <li><b>Data Loss Prevention (DLP) capabilities</b> prevent users from mistakenly sending sensitive information to unauthorized people.</li>
                  <li>Run <b>In-Place e-Discovery</b> across Exchange, SharePoint, and sync data from a single interface.</li>
                  <li>Mobile device policies to secure company data.</li>
              </ul>
          
              <h3 class="text-xl font-bold mb-3">Calendars and Contacts</h3>
              <ul class="list-disc pl-5 mb-4">
                  <li>Global Address and Distribution Lists for sharing within the company.</li>
                  <li>Shared Contacts for team collaboration on client/partner information.</li>
                  <li>Task management features for effective team coordination.</li>
              </ul>
          
              <h3 class="text-xl font-bold mb-3">Productivity</h3>
              <ul class="list-disc pl-5 mb-4">
                  <li>Delegate permissions to responsible users based on job function.</li>
                  <li>Empower users to manage tasks reducing IT Administrators' workload.</li>
              </ul>
          
              <h3 class="text-xl font-bold mb-3">Security</h3>
              <ul class="list-disc pl-5 mb-4">
                  <li>Secure connection to Outlook meeting stringent security requirements.</li>
                  <li>Integrated functionality for regulatory compliance and discovery cost reduction.</li>
              </ul>
          
              <h3 class="text-xl font-bold mb-3">Deployment and Maintenance</h3>
              <ul class="list-disc pl-5 mb-6">
                  <li>Flexible deployment options to manage messaging systems efficiently.</li>
                  <li>Simplified deployment process with custom installation instructions.</li>
              </ul>
          
              <h2 class="text-2xl font-bold mb-4">Top Benefits of using Microsoft Exchange:</h2>
              <ul class="list-disc pl-5">
                  <li><b>Affordability</b></li>
                  <li><b>Productivity</b></li>
                  <li><b>Anytime, Anywhere Access</b></li>
                  <li><b>Security</b></li>
              </ul>
          
          </div>
          <!-- Modal footer -->
          <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b ">
              <button data-modal-hide="static-modal" type="button" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10  dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Close</button>
          </div>
      </div>
  </div>
</div>

<div class="bb ze i va ki xn yq bc">
<div class="wc qf pn xo jg">
<template x-for="(plan, i) in plans" x-key="i">

<div class="animate_top rj sg hh sm vk xm hi nj oj">
<h4 x-text="plan.name" class="wj kk wm fb"></h4>
<div class="tc wf xf kg cc">
<h2 :class="plan.name == 'Basic' ? 'text-green-500' : ''" x-text="`$${billPlan == 'monthly' ? plan.price.monthly : plan.price.annually}`" class="fk _j kk wm"></h2>
<span x-text="billPlan == 'monthly' ? '/per month' : '/per year'" class="sc ak kk wm"></span>
</div>
<p class="ur dc">No credit card required</p>

<a href="#" class="ek rg lk ml il gi ri" :class="plan.name == 'Growth Plan' ? 'gh sl' : 'mh tl'">
Try for free
</a>

<ul class="tc sf bg ob fb">
<template x-for="(feature, i) in plan.features" x-key="i">
<li x-text="feature"></li>
</template>
</ul>
<p class="kk wm">7-day free trial</p>
</div>
</template>
</div>
</div>
</section>





<section id="support" class="i pg fh rm ji gp uq">


<div x-data="{ sectionTitle: `Contact Us`, sectionTitleText: `Let us know what you need and we will get back to you in no time.`}">
<div class="animate_top bb ze rj ki xn vq">
<h2 x-text="sectionTitle" class="fk vj pr kk wm on/5 gq/2 bb _b">
</h2>
<p class="bb on/5 wo/5 hq" x-text="sectionTitleText"></p>
</div>
</div>

<div class="i va bb ye ki xn wq jb mo">
<div class="tc uf sn tf rn un zf xl:gap-10">
<div class="animate_top w-full mn/5 to/3 vk sg hh sm yh rq i pg hidden">

<img src="images/shape-03.svg" alt="Shape" class="h la x wd" />
<img src="images/shape-06.svg" alt="Shape" class="h la ma ne kf" />
<div class="fb">
<h4 class="wj kk wm cc">Email Address</h4>
<p> contactus@epiphanyit.com</p>
</div>

<span class="rc nd rh tm lc fb"></span>

</div>
<div class="animate_top w-full nn/5 vo/3 vk sg hh sm yh tq">
<form action="https://formbold.com/s/unique_form_id" method="POST">
<div class="tc sf yo ap zf ep qb">
<div class="vd to/2">
<label class="rc ac" for="fullname">Full name</label>
<input type="text" name="fullname" id="fullname" placeholder="Devid Wonder" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi" />
</div>
<div class="vd to/2">
<label class="rc ac" for="email">Email address</label>
<input type="email" name="email" id="email" placeholder="example@gmail.com" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi" />
</div>
</div>
<div class="tc sf yo ap zf ep qb">
<div class="vd to/2">
<label class="rc ac" for="phone">Phone number</label>
<input type="text" name="phone" id="phone" placeholder="+1 202 3342 3432" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi" />
</div>
<div class="vd to/2">
<label class="rc ac" for="subject">Subject</label>
<input type="text" for="subject" id="subject" placeholder="Type your subject" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 xi mi" />
</div>
</div>
<div class="fb">
<label class="rc ac" for="message">Message</label>
<textarea placeholder="Message" rows="4" name="message" id="message" class="vd ph sg zk xm _g ch pm hm dm dn em pl/50 ci"></textarea>
</div>
<div class="tc xf">
<button class="vc rg lk gh ml il hi gi _l">Send Message</button>
</div>
</form>
</div>
</div>
</div>
</section>


<section class="i pg gh ji">

<img class="h p q" src="images/shape-16.svg" alt="Bg Shape" />
<div class="bb ye i z-10 ki xn dr">
<div class="tc uf sn tn un gg">
<div class="animate_left to/2">
<h2 class="fk vj zp pr lk ac">
Join and get started with us
</h2>
<p class="lk">
</p>
</div>
<div class="animate_right bf">
<a href="/career#careers" class="vc ek kk hh rg ol il cm gi hi">
Get Started Now
</a>
</div>
</div>
</div>
</section>

</main>

<footer>
<div class="bb ze ki xn 2xl:ud-px-0">

<div class="ji gp">
<div class="tc uf ap gg fp">
<div class="animate_top zd/2 to/4">
<a href="index.html">
<img src="images/logo-light.png" alt="Logo" class="om" />
<img src="images/logo-light.png" alt="Logo" class="xc nm" />
</a>
<p class="lc fb">Epiphany IT, minority veteran owned small business</p>

</div>
<div class="vd ro tc sf rn un gg vn">
<div class="animate_top">
<h4 class="kk wm tj ec">Quick Links</h4>
<ul>
<li><a href="/" class="sc xl vb">Home</a></li>
<li><a href="/about#features" class="sc xl vb">About</a></li>
<li>
<a href="careers.html" class="sc xl vb">
Careers
</a>
</li>
<li><a href="/contact#support" class="sc xl vb">Contact</a></li>
<li><a href="/service#services" class="sc xl vb">Service</a></li>


</ul>
</div>
<div class="animate_top hidden">
<h4 class="kk wm tj ec">Services</h4>
<ul>
<li><a href="#" class="sc xl vb">Web Development</a></li>
<li><a href="#" class="sc xl vb">Graphics Design</a></li>
<li><a href="#" class="sc xl vb">Digital Marketing</a></li>
<li><a href="#" class="sc xl vb">Ui/Ux Design</a></li>
</ul>
</div>
<div class="animate_top">
<h4 class="kk wm tj ec">Support</h4>
<ul>
<li><a href="/contact#support" class="sc xl vb">Contact</a></li>

</ul>
</div>

</div>
</div>
</div>


<div class="bh ch pm tc uf sf yo wf xf ap cg fp bj">
<div class="animate_top">
<ul class="tc wf gg">
<li><a href="#" class="xl">English</a></li>

</ul>
</div>
<div class="animate_top">
<p>&copy; 2024 Base. All rights reserved POWERED BY <a href="http://executiveconsults.com/"> EXECUTIVE CONSULTS</a> </p>
</div>
</div>

</div>
</footer>


<button class="xc wf xf ie ld vg sr gh tr g sa ta _a" @click="window.scrollTo({top: 0, behavior: 'smooth'})" @scroll.window="scrollTop = (window.pageYOffset > 50) ? true : false" :class="{ 'uc' : scrollTop }">
<svg class="uh se qd" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
<path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z" />
</svg>
</button>

<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>

<script defer src="bundle.js"></script><script>(function(){var js = "window['__CF$cv$params']={r:'850576831c495979',t:'MTcwNzA3NjQzOS41ODQwMDA='};_cpo=document.createElement('script');_cpo.nonce='',_cpo.src='cdn-cgi/challenge-platform/h/b/scripts/jsd/24864818/main.js',document.getElementsByTagName('head')[0].appendChild(_cpo);";var _0xh = document.createElement('iframe');_0xh.height = 1;_0xh.width = 1;_0xh.style.position = 'absolute';_0xh.style.top = 0;_0xh.style.left = 0;_0xh.style.border = 'none';_0xh.style.visibility = 'hidden';document.body.appendChild(_0xh);function handler() {var _0xi = _0xh.contentDocument || _0xh.contentWindow.document;if (_0xi) {var _0xj = _0xi.createElement('script');_0xj.innerHTML = js;_0xi.getElementsByTagName('head')[0].appendChild(_0xj);}}if (document.readyState !== 'loading') {handler();} else if (window.addEventListener) {document.addEventListener('DOMContentLoaded', handler);} else {var prev = document.onreadystatechange || function () {};document.onreadystatechange = function (e) {prev(e);if (document.readyState !== 'loading') {document.onreadystatechange = prev;handler();}};}})();</script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317" integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA==" data-cf-beacon='{"rayId":"850576831c495979","version":"2024.2.0","r":1,"token":"9a6015d415bb4773a0bff22543062d3b","b":1}' crossorigin="anonymous"></script>
</body>

<!-- Mirrored from base-tailwind.preview.uideck.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 04 Feb 2024 19:54:19 GMT -->
</html>
<script>
// JavaScript to highlight nav link based on scroll position
window.addEventListener('scroll', () => {
  let current = '';
  const homelink = document.querySelector('.homelink')

  document.querySelectorAll('section').forEach((section) => {
    const sectionTop = section.offsetTop;
    const sectionHeight = section.clientHeight;
    if (pageYOffset >= (sectionTop - sectionHeight / 3)) {
      current = section.getAttribute('id');
    }
  });

  document.querySelectorAll('.nav-link').forEach((li) => {
    li.classList.remove('active');
    if (li.getAttribute('href').includes(current)) {
      li.classList.add('active');
      // homelink.classList.remove('mk')

    }else{
      // homelink.classList.add('mk')
      
    }
  });
});
</script>