    <!-- Site footer -->
    <footer>
      <div class="cwq08 cui38 cc4l3 cucgo">

          <!-- Top area: Blocks -->
          <div class="cwgoa cwxaa c78e1 cv19t cqf8y">

              <!-- 1st block -->
              <div class="cabaf c9d74 cln6f">
                  <div class="chiic">
                      <!-- Logo -->
                      <a class="ckuoi cgylk c4psy czxk3 cebnw" href="/" aria-label="Cruip">
                        <img class="om" src="images/logoblack.png" alt="Logo Light">
                      </a>
                  </div>
                  <div class="cpn01 c1stc cg9j4">The smarter way to start your next idea.</div>
              </div>

              <!-- 2nd block -->
              <div class="cm13t ct8yv ci5yk">
                  <h6 class="cpn01 ck3uh c35dk chiic">How it works</h6>
                  <ul class="cy5nw crwlr c35dk">
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="/">Overview</a>
                      </li>
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="/service">Service</a>
                      </li>
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="/about">About Us</a>
                      </li>
                  </ul>
              </div>

              <!-- 3rd block -->
              <div class="cm13t ct8yv ci5yk hidden">
                  <h6 class="cpn01 ck3uh c35dk chiic">Resources</h6>
                  <ul class="cy5nw crwlr c35dk">
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="#0">Customer Stories</a>
                      </li>
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="#0">Knowledge Base</a>
                      </li>
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="#0">Contact Us</a>
                      </li>
                  </ul>
              </div>

              <!-- 4th block -->
              <div class="cm13t ct8yv ci5yk hidden">
                  <h6 class="cpn01 ck3uh c35dk chiic">Products</h6>
                  <ul class="cy5nw crwlr c35dk">
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="#0">Corporate Partners</a>
                      </li>
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="#0">Secure Identity</a>
                      </li>
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="#0">Legal Help</a>
                      </li>
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="#0">First Capital</a>
                      </li>
                  </ul>
              </div>

              <!-- 5th block -->
              <div class="cm13t ct8yv ci5yk">
                  <h6 class="cpn01 ck3uh c35dk chiic">Company</h6>
                  <ul class="cy5nw crwlr c35dk">
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="/about">About Us</a>
                      </li>
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="/careers">Careers</a>
                      </li>
                      <li>
                          <a class="cjtfg csmmp cgylk czxk3 cebnw" href="/contact">Contact</a>
                      </li>
                  </ul>
              </div>

          </div>

          <!-- Bottom area -->
          <div class="cnpdp c3elr cl21a cv2nt csvbf c140r cgodi">

              <!-- Social links -->
        <div>
             © EPIPHANY.com All rights reserved
              
        </div>
              <!-- Copyrights note -->
              <div class="csmmp c35dk cb6q3"> <a href="https://executiveconsults.com/">POWERED BY EXECUTIVE CONSULTS </a>  </div>

          </div>

      </div>
  </footer>