
<!-- Option 1: Include in HTML -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
<footer  class="bg-[#0f1212] text-white">
    <div class=" p-3 bg-[#0f1212]  shadow-xl text-white " style="width: 100%;">
      <div class="flex flex-wrap">
          <div class="w-full px-4 md:w-6/12">
              <h3
                  class="block antialiased tracking-normal font-sans text-3xl font-semibold leading-snug text-inherit mb-2">
                  AWO Titlte</h3>
              <span
                  class="block antialiased tracking-normal font-sans text-inherit mt-0 mb-2 text-lg font-normal opacity-60">
                  We provide impeccable services to enable small businesses, lenders, and real estate developers accomplish their goals and objectives.  
                  <div class="mt-6">
                    <a href="https://twitter.com/Awo_law" target="_blank"
                      rel="noreferrer"><i
                          class="bi bi-twitter text-3xl"
                          aria-hidden="true"></i></a><a 
                      href="https://www.facebook.com/awotitle" target="_blank"
                      rel="noreferrer"><i
                          class="bi bi-facebook ml-4 text-3xl"
                          aria-hidden="true"></i></a>
                        
                        </div>
          </div>
          <div class=" md:w-1/4 mb-6 md:mb-0">
            <span class="text-xl font-bold mb-3">Quick Links</span>
            <ul class="list-none mb-0">
              <li><a href="/" class="text-white nav-linkss hover:text-gray-300">Home</a></li>
              <li><a href="/real-estate-law" class="text-white nav-linkss hover:text-gray-300"> Real Estate Law</a></li>
              <li><a href="/buisness-law" class="text-white nav-linkss hover:text-gray-300">Business Law</a></li>
              <li><a href="/estate-planing" class="text-white nav-linkss hover:text-gray-300">Estate Planning</a></li>
              <li><a href="/about-us" class="text-white nav-linkss hover:text-gray-300">About Us</a></li>
              <li><a href="/contact-us" class="text-white nav-linkss hover:text-gray-300">Contact Us</a></li>
            </ul>
          </div>
    
          <!-- Prince Georges Office -->
          <div class="w-full md:w-1/4 mb-6 md:mb-0">
            <span class="text-xl font-bold nav-linkss mb-3">Prince Georges Office:</span>
            <p class="nav-linkss">7323 Hanover Parkway Suite D, Greenbelt, MD 20770</p>
            <p class="nav-linkss">Office: 301-477-1343</p>
            <p class="nav-linkss">Fax: 301-477-1132</p>
            <p class="nav-linkss">Email: info@awotitle.com</p>
          </div>
    
          <!-- Montgomery Office -->
          <div class="w-full md:w-1/4 mb-6 md:mb-0">
            <span class="text-xl font-bold mb-3">Montgomery Office:</span>
            <p class="nav-linkss">10411 Motor City Dr., Suite 750 Bethesda, MD 20817</p>
            <p class="nav-linkss">Office: 301-477-1343</p>
            <p class="nav-linkss">Fax: 301-477-1132</p>
            <p class="nav-linkss">Email: info@awotitle.com</p>
          </div>
    
   
    
      </div>
      <hr class="border-gray-300 my-6">
      <div class="flex flex-wrap items-center justify-center gap-2">

          <div class="w-full px-4 text-center md:w-4/12 md:px-0 md:text-right">
              <div class="py-1 text-sm font-medium">Copyright © 2024 All right reserved at powered by <a
                      href="https://www..com?" target="_blank" rel="noreferrer"
                      class="text-inherit transition-all"> <b>Executive Consults  </b></a></div>
          </div>
      </div>
  </div>
  </footer>
