<% layout('./layouts/boilerplate.ejs')%> 



<div class="relative h-96 overflow-hidden">
    <img class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full h-auto"
        src="imgs/awotitle-inner-harbor-of-baltimore-maryland-xl.jpg" alt="">
    <div class="h-96"></div> <!-- Tailwind class for background overlay -->
    <h1 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl font-bold text-white">
        Business Law</h1>
</div>


<br />
<div class="container mx-auto flex flex-wrap pt-4 pb-12">
    <!-- ASIDE: Sidebar for Information Sheets -->
    <aside class="w-full lg:w-1/4 px-6">

        <!-- Call to Action Section -->

        <div class="bg-[#003553] text-white p-6 mb-6 ">
            <h2 class="text-2xl mb-4 text-white">Need an Advice from Expert Lawyers?</h2>
            <p class="mb-4 text-white">Get an Appointment Today!</p>
            <a href="/contact-us" class="inline-block bg-cyan-500 hover:bg-blue-950 text-white py-2 px-4 rounded">
                Get In Touch
            </a>
        </div>
    </aside>

    <!-- MAIN CONTENT -->
    <main class="w-full lg:w-3/6 px-6 text-base mx-10">


        <!-- Business Law Content -->
        <article>
            <h1 class="mb-4 font-bold text-3xl text-cyan-500 capitalize ">Business law is not just about compliance, it’s about creating a solid foundation for growth and success.
            </h1>
            <p class="mb-4">Awo Law provide expertise to our business clients for business planning and compliance. We are focused
                on strategies for
                small businesses to ensure profitability and achieving long term goals. Our services includes business formation,
                contracts, compliance review and training, and employment law.</p>
            <!-- Real Estate Developers Section -->
            <section>
                <h2 class="text-xl font-semibold  mb-2">Compliance</h2>
                <p class="mb-4">Today’s regulatory environment can be cumbersome for small business owners. Let us help to ensure your business complies
                with regulatory requirements. With up to date reporting, effective filing, and diligent review, we can provide an easy
                roadmap on how to ensure your business meets and exceed industry standards.</p>
                <!-- Additional content... -->
            </section>

            <!-- Additional Sections -->
            <section>
                <h2 class="text-xl font-semibold  mb-2">Contracts</h2>
                <p class="mb-4">Execute contracts and agreements with ease. As your business grows, contractual obligations with third parties will
                become an integral part of your organization. From employee contracts, express contracts, executory contracts, bilateral
                and unilateral contracts, adhesion contracts, aleatory contracts, void and voidable contracts, we can ensure your
                business is adequately protected and ready for unforeseen circumstances. We represent our clients in Arbitration
                proceedings to provide a quicker and less expensive method to resolving contract disputes.
</p>
                <!-- Additional content... -->
            </section>

            <section>
                <h2 class="text-xl font-semibold  mb-2">Small Business Support</h2>
                <p class="mb-4">We pride ourselves in providing the upmost support for small businesses. We can help develop your business plan, best
                practices, required employee pamphlets kits, and provide tips and advise on how your small business can succeed.
                
                At Awo Law, we are heavily invested in our clients’ success. Call us today with any questions, and we will be glad to
                provide our legal expertise.</p>
                <!-- Additional content... -->
            </section>
        </article>
    </main>
</div>
<hr style="height:2px;border-width:0;color:gray;background-color:gray">