<script>
    
    function googleTranslateElementInit() {
        var translateElement = new google.translate.TranslateElement({
            pageLanguage: 'en',
            includedLanguages: 'en,ar,bn,de,es,fr,hi,it,ja,ko,nl,pl,pt,ru,th,tr,vi,zh-CN,zh-TW',
            layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL,
            autoDisplay: false,
            gaTrack: true,
            noAutoflip: true, // Add this parameter to disable the top pop-up when a user selects a language
            gaId: 'UA-XXXXXXXX-X'
        }, 'google_translate_element');

        var selectedLanguageInput = document.getElementById('selectedLanguageInput');

        google.translate.TranslateElement.prototype.selectLanguage = function (lang) {
            google.translate.TranslateElement.prototype.selectLanguage.apply(this, arguments);
            selectedLanguageInput.value = lang;
        };

        var translateButton = document.createElement('button');
        translateButton.className = 'goog-te-button';
        translateButton.innerHTML = 'Translate';
        translateButton.onclick = function () {
            translateElement.showWidget();
        };
        document.getElementById('google_translate_element').appendChild(translateButton);
    }


</script>
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to Epiphany IT,a minority veteran owned small business</title>
        <meta name='description'         content="Epiphany IT is a top-tier expert and Microsoft solutions provider of solutions designed to save operational expenses and create efficient business operations">
        <meta property='og:description'  content="Epiphany IT is a top-tier expert and Microsoft solutions provider of solutions designed to save operational expenses and create efficient business operations">
        <meta name='twitter:description' content="Epiphany IT is a top-tier expert and Microsoft solutions provider of solutions designed to save operational expenses and create efficient business operations">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="css/vendors/aos.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>

    <script defer data-domain='preview.cruip.com,rollup.cruip.com' src='../../plausible.cruip.com/js/script.js'></script></head>
    
<body>
        <!-- Site header -->
        <header class="cd7c9 ce83r crb4e c3yre">
            <div class="cwq08 cui38 cc4l3 cxnjg">
                <div class="c3as5 cpccj cewtd cmxqt cdiok">
  
             
                    <!-- Desktop navigation -->
                    <nav class="csvbf cm9ae cv4f1">
  
                        <!-- Desktop menu links -->
                        <ul class="co3jc cpccj cc7kb cmxqt cymr7">
                          <li>
                              <a class="c8byp cjtfg ceywl cpn01 cpccj cgylk cy5nw czxk3 cebnw c9oso cmxqt cuy8x cpet4" href="/">Home</a>
                          </li>
                            <li>
                                <a class="c8byp cjtfg ceywl cpn01 cpccj cgylk cy5nw czxk3 cebnw c9oso cmxqt cuy8x cpet4" href="/about">About Us</a>
                            </li>
                            <li>
                              <a class="c8byp cjtfg ceywl cpn01 cpccj cgylk cy5nw czxk3 cebnw c9oso cmxqt cuy8x cpet4" href="/service">Service</a>
                          </li>
                          <li>
                              <a class="c8byp cjtfg ceywl cpn01 cpccj cgylk cy5nw czxk3 cebnw c9oso cmxqt cuy8x cpet4" href="/career">Career</a>
                          </li>
                            <!-- <li>
                                <a class="c8byp cjtfg ceywl cpn01 cpccj cgylk cy5nw czxk3 cebnw c9oso cmxqt cuy8x cpet4" href="blog.html">Blog</a>
                            </li>
                            <li>
                                <a class="c8byp cjtfg ceywl cpn01 cpccj cgylk cy5nw czxk3 cebnw c9oso cmxqt cuy8x cpet4" href="wall-of-love.html">Wall of Love</a>
                            </li> -->
                            <!-- 1st level: hover -->
                          
                        </ul>
  
                        <!-- Desktop sign in links -->
                        <ul class="cpccj cc6z4 cc7kb cmxqt cymr7">
  
                            <li>
                                <a class="c8q3m cmbhb ckuoi cpccj cgylk cy5nw czxk3 cebnw c9oso cuuxz cmxqt cuy8x cpet4" href="/contact">Contact us <span class="co5k7 cgu87 cs01c ckuoi cgylk czxk3 coc2c">-&gt;</span></a>
                            </li>
                        </ul>
  
                    </nav>
                    
                    <!-- Mobile menu -->
                    <div class="ca6e5 cmxqt" x-data="{ expanded: false }">
  
                        <!-- Hamburger button -->
                        <button class="cddv9" :class="{ 'active': expanded }" @click.stop="expanded = !expanded" aria-controls="mobile-nav" :aria-expanded="expanded">
                            <span class="ctg7a">Menu</span>
                            <svg class="cwtrp c9p59 c6urr cmo7l cssmu" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <rect y="4" width="24" height="2"></rect>
                                <rect y="11" width="24" height="2"></rect>
                                <rect y="18" width="24" height="2"></rect>
                            </svg>
                        </button>
  
                        <!-- Mobile navigation -->
                        <nav id="mobile-nav" class="cefnj cmyiy cd7c9 cciiv cdiod cj439 cgvj7 ce83r cei4k co8ir" @click.away="expanded = false" @keydown.escape.window="expanded = false" x-show="expanded" x-transition:enter="cebnw ch6f7 cc4ps cuxdo" x-transition:enter-start="cyixi c7pni" x-transition:enter-end="c03gd cid49" x-transition:leave="cebnw ch6f7 cc4ps" x-transition:leave-start="c03gd" x-transition:leave-end="cyixi" x-cloak="">
                            <ul class="cxnjg cpet4">
                              <li>
                                  <a class="cjtfg cpn01 cy5nw cmxqt cpet4" href="/">Home</a>
                              </li>
                              <li>
                                  <a class="cjtfg cpn01 cy5nw cmxqt cpet4" href="/about">About Us</a>
                              </li>
                                <li>
                                    <a class="cjtfg cpn01 cy5nw cmxqt cpet4" href="/service">Service</a>
                                </li>
  
                                <li>
                                    <a class="cjtfg cpn01 cy5nw cmxqt cpet4" href="/career">Career</a>
                                </li>
                          
                        
                                <li>
                                    <a class="ckuoi cy5nw cuuxz cmxqt cpet4" href="/contact">Contact us<span class="co5k7 cgu87 cs01c ckuoi cgylk czxk3 coc2c">-&gt;</span></a>
                                </li>
                            </ul>
                        </nav>
  
                    </div>
  
                </div>
            </div>
        </header>
    <main class="cmxqt">

        <!-- Content -->
        <div class="ctxiw ce83r">

            <div class="cni8m c4i7i chg82 ctmo0 cmxqt">

                <div class="cui38 cxnjg cqf8y">
                    <div class="c6wek cc4l3 ce83r">
    
                        <!-- Site branding -->
                        <div class="cq2c1">
                            <!-- Logo -->
                            <a class="ckuoi cgylk c4psy czxk3 cebnw" href="/" aria-label="Cruip">
                                <img class="om" src="images/logoblack.png" alt="Logo Light">

                            </a>
                        </div>
        
                        <h1 class="c4ryg cpn01 cxr2p cgxhh">Join us</h1>
    
                        <!-- Form -->
                        <form>
                            <div class="c9qrd">
                                <div>
                                    <label class="block cy5nw c35dk cp0cj" for="email">Email <span class="cj1d1">*</span></label>
                                    <input id="email" class="czmmj ce83r cpet4" type="email" required="">
                                </div>
                                <div>
                                    <label class="block cy5nw c35dk cp0cj" for="name">Contact Name <span class="cj1d1">*</span></label>
                                    <input id="name" class="czmmj ce83r cpet4" type="text" required="">
                                </div>
                              
                                <div>
                                    <label class="block cy5nw c35dk cp0cj" for="number">Phone Number <span class="cj1d1">*</span></label>
                                    <input id="number" class="czmmj ce83r cpet4" type="text" required="">
                                </div>
                                                              
                                <div>
                                    <label class="block cy5nw c35dk cp0cj" for="number">Message <span class="cj1d1">*</span></label>
                                    <textarea name="" class=" border border-gray-400 block cy5nw c35dk cp0cj w-full"  id="" rows="2"></textarea>
                                </div>
                                <div>
                                    <label class="block cy5nw c35dk cp0cj" for="country">Country <span class="cj1d1">*</span></label>
                                    <select id="country" class="cnbz5 ce83r cpet4" required="">
                                        <option>United States</option>
                                        <option>United Kingdom</option>
                                        <option>Germany</option>
                                    </select>
                                </div>
                            </div>
                            <div class="cjpu6">
                                <button class="cly6v cd857 cv4pf c35dk cynr0 ce83r cuuxz">
                                    Submit <span class="co5k7 cgu87 cs01c c6wde cgylk czxk3 coc2c">-&gt;</span>
                                </button>
                            </div>
                            <span class="tc sf">

                            <div class="c5dec">
                                <label class="caw9y cmxqt">
                                    <input type="checkbox" class="c27yd cb70u" checked="">
                                    <span class="csmmp c35dk c39ws">By filling out this form, I consent to the collection and use of my personal data.</span>
                                </label>
                            </div>
                        </form>
        
                    </div>
                </div>

            </div>

        </div>

        <!-- Right side -->
        <div class="chtks ctxiw c54u4 ctd17 cv4f1" aria-hidden="true">

            <!-- Bg image -->
            <div class="cd7c9 c7hvf" data-aos="fade">
                <img style="opacity: 0.3;" class="ckemv ck0cy ctmo0 ce83r" src="images/request-demo-bg.jpg" width="760" height="900" alt="Background">
            </div>

            <!-- Quote -->
            <div class="cni8m c4i7i chg82 ctmo0 cmxqt">
                <div class="cui38 cxnjg">
                    <div class="c3bgi cc4l3 ce83r">                
                        <h2 class="c4ryg cy7k1 cdn9n cc3ji cq8sc">CAREERS</h2>
                        <div class="c0s3r">
                            <svg class="c6xuq" width="20" height="16" viewBox="0 0 20 16">
                                <path d="M2.76 16c2.577 0 5.154-3.219 5.154-5.996 0-1.357-.613-2.272-1.748-2.272s-2.27.726-3.283 1.64C3.16 6.439 5.613 3.346 9.571.885L9.233 0C3.466 2.903 0 7.732 0 12.213 0 14.517.828 16 2.76 16Zm10.43 0c2.577 0 5.154-3.219 5.154-5.996 0-1.357-.614-2.272-1.749-2.272-1.135 0-2.27.726-3.282 1.64.276-2.934 2.73-6.027 6.687-8.488L19.663 0c-5.767 2.903-9.234 7.732-9.234 12.213 0 2.304.829 3.787 2.761 3.787Z"></path>
                            </svg>
                            <blockquote class="c20g7 c9lsg">
                                The Epiphany company culture is simply, family oriented. Our employees are considered one huge family. We encourage success, education, collaboration, ideas, new technologies, and a healthy work place. We believe in a comprehensive benefits plan and investment for the future.</blockquote>
                          <div style="color: white;">
                            <h4>Employment Opportunities</h4>
                            <h6>•	Microsoft Exchange Expert</h6>
                            <h6>•	Microsoft Exchange Consultant</h6>
                          </div>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>

    </main>

 
</body>



</html>
<link rel="stylesheet" href="stylesheet/home.css">



<script src="/javascript/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script> 


<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://assets.website-files.com/5dd4413d36613959e9a5f5ea/js/webflow.300dc2d58.js" type="text/javascript"></script>
