<!DOCTYPE html><html lang="en">
<head>
    <meta charset="utf-8">
    <title>EPIPHANY IT - Contact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="css/vendors/aos.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
<script defer data-domain='preview.cruip.com,rollup.cruip.com' src='../../plausible.cruip.com/js/script.js'></script></head>

<body class="cv9im cpn01 cjx0x c7mbx cj439">

    <main class="cmxqt">

        <!-- Content -->
        <div class="ctxiw ce83r">

            <div class="cni8m c4i7i chg82 ctmo0 cmxqt">

                <div class="cui38 cxnjg cqf8y">
                    <div class="c6wek cc4l3 ce83r">
    
                        <!-- Site branding -->
                        <div class="cq2c1">
                            <!-- Logo -->
                            <a class="ckuoi cgylk c4psy czxk3 cebnw" href="/" aria-label="Cruip">
                                <img class="om" src="images/logoblack.png" alt="Logo Light">

                            </a>
                        </div>
        
                        <h1 class="c4ryg cpn01 cxr2p cgxhh">Contact us today</h1>
    
                        <!-- Form -->
                        <form>
                            <div class="c9qrd">
                                <div>
                                    <label class="block cy5nw c35dk cp0cj" for="email">Email <span class="cj1d1">*</span></label>
                                    <input id="email" class="czmmj ce83r cpet4" type="email" required="">
                                </div>
                                <div>
                                    <label class="block cy5nw c35dk cp0cj" for="name">Contact Name <span class="cj1d1">*</span></label>
                                    <input id="name" class="czmmj ce83r cpet4" type="text" required="">
                                </div>
                              
                                <div>
                                    <label class="block cy5nw c35dk cp0cj" for="number">Phone Number <span class="cj1d1">*</span></label>
                                    <input id="number" class="czmmj ce83r cpet4" type="text" required="">
                                </div>
                                <div>
                                    <label class="block cy5nw c35dk cp0cj" for="country">Country <span class="cj1d1">*</span></label>
                                    <select id="country" class="cnbz5 ce83r cpet4" required="">
                                        <option>United States</option>
                                        <option>United Kingdom</option>
                                        <option>Germany</option>
                                    </select>
                                </div>
                            </div>
                            <div class="cjpu6">
                                <button class="cly6v cd857 cv4pf c35dk cynr0 ce83r cuuxz">
                                    Submit <span class="co5k7 cgu87 cs01c c6wde cgylk czxk3 coc2c">-&gt;</span>
                                </button>
                            </div>
                            <span class="tc sf">

                            <div class="c5dec">
                                <label class="caw9y cmxqt">
                                    <input type="checkbox" class="c27yd cb70u" checked="">
                                    <span class="csmmp c35dk c39ws">By filling out this form, I consent to the collection and use of my personal data.</span>
                                </label>
                            </div>
                        </form>
        
                    </div>
                </div>

            </div>

        </div>

        <!-- Right side -->
        <div class="chtks ctxiw c54u4 ctd17 cv4f1" aria-hidden="true">

            <!-- Bg image -->
            <div class="cd7c9 c7hvf" data-aos="fade">
                <img class="ckemv ck0cy ctmo0 ce83r" src="images/request-demo-bg.jpg" width="760" height="900" alt="Background">
            </div>

            <!-- Quote -->
            <div class="cni8m c4i7i chg82 ctmo0 cmxqt">
                <div class="cui38 cxnjg">
                    <div class="c3bgi cc4l3 ce83r">                
                        <h2 class="c4ryg cy7k1 cdn9n cc3ji cq8sc">Epiphany IT</h2>
                        <div class="c0s3r">
                            <svg class="c6xuq" width="20" height="16" viewBox="0 0 20 16">
                                <path d="M2.76 16c2.577 0 5.154-3.219 5.154-5.996 0-1.357-.613-2.272-1.748-2.272s-2.27.726-3.283 1.64C3.16 6.439 5.613 3.346 9.571.885L9.233 0C3.466 2.903 0 7.732 0 12.213 0 14.517.828 16 2.76 16Zm10.43 0c2.577 0 5.154-3.219 5.154-5.996 0-1.357-.614-2.272-1.749-2.272-1.135 0-2.27.726-3.282 1.64.276-2.934 2.73-6.027 6.687-8.488L19.663 0c-5.767 2.903-9.234 7.732-9.234 12.213 0 2.304.829 3.787 2.761 3.787Z"></path>
                            </svg>
                            <blockquote class="c20g7 c9lsg">We will be in touch within the next few days following your form submission. Please don't hesitate to reach out with any questions in the meantime.</blockquote>
                        </div>
                    
                    </div>
                </div>
            </div>

        </div>

    </main>

    <script src="js/vendors/alpinejs.min.js" defer=""></script>
    <script src="js/vendors/aos.js"></script>
    <script src="js/main.js"></script>



</body>
</html>