<% layout('./layouts/boilerplate.ejs')%> 

    <div class="relative h-96 overflow-hidden">
        <img class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full h-auto"
            src="imgs/awotitle-inner-harbor-of-baltimore-maryland-xl.jpg" alt="">
        <div class="h-96"></div> <!-- Tailwind class for background overlay -->
        <h1 class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-4xl font-bold text-white">
            Estate Planning</h1>
    </div>



    <br />
    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
        <aside class="w-full lg:w-1/4 px-6 ">
            <!-- Call to Action Section -->
            <div class="bg-[#003553] text-white p-6 mb-6 ">
                <h2 class="text-2xl mb-4 text-white">Need an Advice from Expert Lawyers?</h2>
                <p class="mb-4 text-white">Get an Appointment Today!</p>
                <a href="/contact-us" class="inline-block bg-cyan-500 hover:bg-blue-950 text-white py-2 px-4 rounded">
                    Get In Touch
                </a>
            </div>
        </aside>

        <!-- MAIN CONTENT -->
        <main class="w-full lg:w-1/2 px-6 text-base mx-10">


            <!-- Estate Planning Content -->
            <article>
                <section>
                    <h2 class="text-xl font-semibold  mb-2">Estate Planning</h2>
                    <p class="mb-4">Do you often worry about what will happen to your loved ones or small business in the event of unforeseen circumstances?
                    Call us today to find out how you can protect your assets, and ensure your loved ones and business are protected. At Awo
                    Law, we offer a complimentary estate planning session to engage our client in a lengthy discussion and obtain a clear
                    understanding of their needs, goals, and objectives regarding estate planning.
                    Most estate plans include documents which provide for both the management and control of assets during the grantor’s
                    lifetime and future transfer of assets. To determine whether the grantor’s assets warrant the use of a Last Will &
                    Testament or a Trust based estate plan, we look at the nature and complexity of the assets owned, or expected to be
                    owned in the near future by the grantor. We tailor each estate plan to meet the client’s need at very affordable prices.</p>
                    <!-- Additional content... -->
                </section>

                <!-- Additional Sections -->
                <section>
                    <h2 class="text-xl font-semibold  mb-2">Last Will & Testament</h2>
                    <p class="mb-4">A legal document that allows the testator (the person making the will) to designate individuals or charities to receive
                    their property and possessions when they pass away. The testator maintains ownership and control of all assets during
                    their lifetime. A will ensures the testator’s wishes will be carried out upon their death, and not the default state
                    law.</p>
                    <!-- Additional content... -->
                </section>

                <section>
                    <h2 class="text-xl font-semibold  mb-2">Trusts</h2>
                    <p class="mb-4">Living or inter vivos Trust: A legal document through which assets are placed into a trust for the benefit of the
                    testator during their lifetime, and then transferred at the death of the testator to designated beneficiaries by a
                    chosen representative called a successor trustee. Created and funded by the testator during life. Mainly utilized when
                    the testator desires to avoid probate, maintain privacy, and willing to relinquish title, ownership, and control of
                    their assets while living.
                    Testamentary Trust: Created and funded upon the testator’s death. It is formed as a result of the provision in the last
                    will and testament.</p>
                    <!-- Additional content... -->
                </section>

                <section>
                    <h2 class="text-xl font-semibold  mb-2">Healthcare Proxy</h2>
                    <p class="mb-4">A legal document that lets an individual appoint another person (a proxy or agent) to express their wishes and make
                    healthcare decisions for them in the event they become incapacitated and unable to speak.</p>
                    <!-- Additional content... -->
                </section>

                <section>
                    <h2 class="text-xl font-semibold  mb-2">Power of Attorney</h2>
                    <p class="mb-4">A legal document granting an agent authority, in specified or all legal or financial matters, to act on behalf of the
                    principal.</p>
                    <!-- Additional content... -->
                </section>

                <section>
                    <h2 class="text-xl font-semibold  mb-2">Probate</h2>
                    <p class="mb-4">Probate is the process of transferring assets to rightful heirs according to state law or a person’s last will after
                    they pass away. The probate process is time-consuming and often costly. When a person dies with a valid will, they are
                    known as dying testate, and the person elected as their estate administrator is in charge of conducting the probate
                    process. If a person dies intestate, without a will, the local probate court will elect a loved one to become the
                    estate’s administrator. We counsel the estate administrator to ensure a seamless probate process.</p>
                    <!-- Additional content... -->
                </section>

                <section>
                    <h2 class="text-xl font-semibold  mb-2">Business Planning</h2>
                    <p class="mb-4">We can help protect your small business and ensure that your company remain in your family for generations to come. Ask
                    how we can incorporate your business into your estate plan!</p>
                    <!-- Additional content... -->
                </section>
            </article>
        </main>
    </div>
    <hr style="height:2px;border-width:0;color:gray;background-color:gray">